<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.egs.wogal.forsale_items_sat_18_3_2017_100">

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>





    <application
        android:allowBackup="true"
        android:configChanges="orientation|screenSize"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity_Main_v0">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name=".activity_options_v1"/>
        <activity android:name=".Activity_test_v4"/>
        <activity android:name=".Activity_Camera_v5">
        </activity>
        <activity android:name=".Activity_Recycle_v6">
        </activity>

        <uses-feature android:name="android.hardware.camera"/>

        <activity
            android:name=".Activity_MakeSalesItem_v8"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape">
        </activity>
        <activity android:name=".Activity_Camrea_100">
        </activity>
        <activity android:name=".Activity_FaceBook_v10">
        </activity>
    </application>

</manifest>